[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/goyo.vim"]
	path = bundle/goyo.vim
	url = git@github.com:junegunn/goyo.vim.git
[submodule "bundle/limelight.vim"]
	path = bundle/limelight.vim
	url = git@github.com:junegunn/limelight.vim.git
